<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Nothing Really Here, Folks!</h1>
        <p>Just a boring page with nothing of interest. Move along...</p>
    </header>
    
    <footer>
        <p>&copy; 2024 Secret Page.</p>
    </footer>

    <script src="{{ url_for('static', filename='secret.js') }}"></script>
</body>
</html>
